obj/

.gradle/
gradle/
gradlew
gradlew.bat
gradle.properties
.idea/
local.properties

.idea/workspace.xml
.idea/libraries
build/
captures/

bin/
gen/
proguard/

.svn/
.DS_Store
*.class
*.dex
*.iml
*.o
*.o
*.bak